<%= mdn_form_with(model: account, url: url, id: "account-form", data: { turbo: false }) do |f| %>
  <%= render Application::ErrorSummaryComponent.new(record: account) %>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2">
      <%= f.mdn_label :title %>
      <%= f.mdn_text_field :title %>
    </div>

    <div class="flex flex-col gap-2 mt-2">
      <%= f.mdn_label :balance_cents %>
      <%= f.mdn_text_field :balance_cents, data: { controller: "money-field" } %>
    </div>

    <div class="flex flex-col gap-2">
      <%= f.mdn_label :color %>
      <%= f.mdn_color_field :color %>
    </div>

    <div class="mt-2">
      <%= submit_button(f) %>
    </div>
  </div>
<% end %>
