<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left border border-gray-100 text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          <%= t(".title") %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t(".balance_cents") %>
        </th>
        <th scope="col" class="px-6 py-3">
          <%= t(".actions") %>
        </th>
      </tr>
    </thead>
      <tbody>
        <% accounts.each do |account| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <span class="text-sm text-white font-medium mr-2 px-2 py-1 rounded" style="background-color: <%= account.color %>"><%= account.title %></span>
            </th>
            <td class="px-6 py-4">
              <%= account.balance_cents %>
            </td>
            <td class="px-6 py-4">
              <%= mdn_button(href: edit_account_path(account), color: :slate) { t(".edit") } %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
